.custLink {
    color: var(--g-color-line-brand);
    transition: all 0.3s;

    &:hover {
        color: var(--g-color-base-brand-hover);
    }

    &:active {
        color: var(--g-color-base-brand-hover);
    }
}
